<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Job Posting</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
        }

        .btn-success {
            background-color: #014017;
            border-color: #014017;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn-success:hover {
            background-color: #02371e;
            border-color: #02371e;
        }
    </style>
</head>
<body>

<div th:replace="~{navbar}"></div>

<div class="container mt-5">
    <h2>Create Job Posting</h2>
    <form th:action="@{/job-postings/save}" method="post" th:object="${jobPosting}">
        <div class="mb-3">
            <label class="form-label">Job Title</label>
            <input type="text" class="form-control" th:field="*{jobTitle}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Job Description</label>
            <textarea class="form-control" th:field="*{jobDescription}" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" class="form-control" th:field="*{location}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Employment Type</label>
            <select class="form-control" th:field="*{employmentType}">
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Internship">Internship</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Salary</label>
            <input type="number" class="form-control" th:field="*{salary}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Required Experience (Years)</label>
            <input type="number" class="form-control" th:field="*{requiredExperience}">
        </div>
        <div class="mb-3">
            <label class="form-label">Required Skills</label>
            <input type="text" class="form-control" th:field="*{requiredSkills}">
        </div>

        <button type="submit" class="btn btn-success">Save Job Posting</button>
        <a href="/my_postings" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<div th:replace="~{footer}"></div>

</body>
</html>
