<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product Listing</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
        }

        .btn-success {
            background-color: #014017;
            border-color: #014017;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn-success:hover {
            background-color: #02371e;
            border-color: #02371e;
        }
    </style>
</head>
<body>

<div th:replace="~{navbar}"></div>

<div class="container mt-5">
    <h2>Create Product Listing</h2>
    <form th:action="@{/product-postings/save}" method="post" th:object="${product}" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" th:field="*{productName}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Product Description</label>
            <textarea class="form-control" th:field="*{productDescription}" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" th:field="*{price}" step="0.01" required>
        </div>
        <div class="mb-3">
            <label class="form-label">QTY</label>
            <input type="number" class="form-control" th:field="*{quantity}" step="0.01" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-control" th:field="*{category}">
                <option value="Clothing">Clothing</option>
                <option value="Handmade">Handmade</option>
                <option value="Art">Art</option>
                <option value="Jewelry">Jewelry</option>
                <option value="Food">Food</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Product Image</label>
            <input type="file" class="form-control" name="imageFile" accept="image/*" required>
        </div>

        <button type="submit" class="btn btn-success">Save Product</button>
        <a href="/my_postings" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<div th:replace="~{footer}"></div>

</body>
</html>
